$borderRadiusSmall: 0.125rem; // 2px
$borderRadiusMedium: 0.25rem; // 4px
$borderRadiusLarge: 0.5rem; // 8px

$borderWidthSmall: 0.0625rem; // 1px
$borderWidthMedium: 0.125rem; // 2px
$borderWidthLarge: 0.25rem; // 4px

$borderStyle: solid;
