$breakpointXxSmall: 8em; // 128px
$breakpointXSmall: 16em; // 256px
$breakpointSmall: 30em; // 480px
$breakpointMedium: 48em; // 768px
$breakpointLarge: 62em; // 992px
$breakpointXLarge: 75em; // 1200px
$breakpointMaxWidth: 61.9375em; // 992px - 1px
