$colorBrand: #008EE2;
$colorLink: #008EE2;
$colorElectric: #008EE2;
$colorShamrock: #00AC18;
$colorBarney: #BF32A4;
$colorCrimson: #EE0612;
$colorFire: #FC5E13;
$colorLicorice: #2D3B45;
$colorOxford: #394B58;
$colorAsh: #8B969E;
$colorSlate: #8B969E;
$colorTiara: #C7CDD1;
$colorPorcelain: #F5F5F5;
$colorWhite: #FFFFFF;

$colorTextDarkest: $colorLicorice;
$colorTextDark: $colorAsh;
$colorTextLight: $colorPorcelain;
$colorTextLightest: $colorWhite;
$colorTextBrand: $colorBrand;
$colorTextLink: $colorLink;
$colorTextAlert: $colorBarney;
$colorTextInfo: $colorBrand;
$colorTextSuccess: $colorShamrock;
$colorTextDanger: $colorCrimson;
$colorTextWarning: $colorFire;

$colorBackgroundDarkest: $colorLicorice;
$colorBackgroundDark: $colorAsh;
$colorBackgroundMedium: $colorTiara;
$colorBackgroundLight: $colorPorcelain;
$colorBackgroundLightest: $colorWhite;
$colorBackgroundBrand: $colorBrand;
$colorBackgroundBrandSecondary: $colorOxford;
$colorBackgroundAlert: $colorBarney;
$colorBackgroundInfo: $colorBrand;
$colorBackgroundSuccess: $colorShamrock;
$colorBackgroundDanger: $colorCrimson;
$colorBackgroundWarning: $colorFire;

$colorBorderLightest: $colorWhite;
$colorBorderLight: $colorPorcelain;
$colorBorderMedium: $colorTiara;
$colorBorderDark: $colorAsh;
$colorBorderDarkest: $colorLicorice;
$colorBorderBrand: $colorBrand;
$colorBorderAlert: $colorBarney;
$colorBorderInfo: $colorBrand;
$colorBorderSuccess: $colorShamrock;
$colorBorderDanger: $colorCrimson;
$colorBorderWarning: $colorFire;
$colorBorderDebug: $colorCrimson;
