$spacingXxxSmall: 0.125rem; // 2px
$spacingXxSmall: 0.375rem; // 6px
$spacingXSmall: 0.5rem; // 8px
$spacingSmall: 0.75rem; // 12px
$spacingMedium: 1.5rem; // 24px
$spacingLarge: 2.25rem; // 36px
$spacingXLarge: 3rem; // 48px
$spacingXxLarge: 3.75rem; // 60px