

$typographyFontFamily: LatoWeb, Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
//$typographyFontFamilyMonospace: Menlo, Consolas, Monaco, "Andale Mono", monospace;

$typographyFontSizeXSmall: 0.75rem; // 12px
$typographyFontSizeSmall: 0.875rem; // 14px
$typographyFontSizeMedium: 1rem; // 16px
$typographyFontSizeLarge: 1.375rem; // 22px
$typographyFontSizeXLarge: 1.75rem; // 28px
$typographyFontSizeXXLarge: 2.375rem; // 38px

$typographyFontWeightLight: 300;
$typographyFontWeightNormal: 400;
$typographyFontWeightBold: 700;

$typographyLineHeight: 1.5; // 24px
$typographyLineHeightFit: 1.125;
$typographyLineHeightCondensed: 1.25;
$typographyLineHeightDouble: 2;

$typographyLetterSpacingNormal: 0;
$typographyLetterSpacingCondensed: -0.0625rem;
$typographyLetterSpacingExpanded: 0.0625rem;
